.header {
  min-height: 80vh;
  height: 80vh;
}
.header__bottom--title {
  font-size: var(--clamp-title-m);
}
.header__bottom {
  min-height: calc(80vh - 120px);
  padding-bottom: var(--padding-1);
}
.image__section img {
  width: 15rem;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1250px) {
  .header {
    min-height: 100vh;
    height: 100vh;
  }
  .header__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc(95vh - 120px);
    padding-bottom: var(--padding-1);
  }
  .header__bottom--title {
    font-size: clamp(1.7rem, 1.25rem + 5vw, 6rem);
  }
}
